.event-management body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .event-management {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
  }
  
  .event-management form {
    display: flex;
    flex-direction: column;
  }
  
  .event-management .form-group {
    margin-bottom: 15px;
  }
  
  .event-management label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .event-management input[type="text"],
  .event-management textarea,
  .event-management select,
  .event-management input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: black;
  }
  
  .event-management button[type="submit"] {
    background-color: #FFD700;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .event-management button[type="submit"]:hover {
    background-color: #FFD700;
  }
  



  /* Events form table */
  .past-events {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: black;
    color: white;
    border-radius: 10px;
  }
  
  .past-events,
  .past-events td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    background-color: black;
    color: white;
  }
  
  .past-events th {
    background-color: #FFD700;
    color: black;
    font-weight: bold;
  }
  
  .past-events tr:nth-child(even) {
    background-color: #333;
  }
  
  .past-events tr:hover {
    background-color: #FFD700;
    color: black;
  }
  