
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}


.header {
  background-color: #0b0b0b;
  color: #e6e5e3;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.header-logo {
  width: 50px;
  height: auto;
  margin-top: 20px;
}

.header-title {
  margin-left: 10px;
}


.form-container {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}


form {
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

.form-input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 16px;
  background-color: #333;
  color: white;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 14px;
}

form select {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

.form-input::placeholder {
  color: #bbb;
}


.siginorsignupbtn {
  background-color: #FFD700;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  /* width: 100%; */
  text-align: center;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #FFC300;
}

button:focus {
  outline: none;
}

.form-button {
  background-color: #FFD700;
}

.form-button:hover {
  background-color: #FFC300;
}


.signin-question {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  color: #040404;
}

.form-link {
  color: #FFD700;
  text-decoration: none;
}

.form-link:hover {
  color: #FFC300;
}

.all-rights {
  text-align: center;
  font-size: 12px;
  color: #bbb;
  margin-top: 30px;
}
