/* Header Styling */
.volunteerheader {
  background-color: #0b0b0b; /* Black background for the header */
  color: #e6e5e3; /* Darker text color */
  padding: 20px;
  text-align: center; /* Center the text in the header */
  font-size: 24px; /* Larger font for the header */
  font-weight: bold;
}

.volunteer-history .header-logo {
  position: center;
  margin-top: 20px;
  top: 15px;
  left: 400px;
  width: 50px;
  height: auto;
}
.volunteer-history tbody {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
}

/* .volunteer-history main {
  padding: 20px;
}

.volunteer-history #volunteer-history {
  padding: 20px;
}

.volunteer-history table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.volunteer-history table,
th,
td {
  border: 1px solid #dddddd;
}

.volunteer-history th,
td {
  padding: 10px;
  text-align: left;
}

.volunteer-history th {
  background-color: #ffd700;
  color: #000;
}

.volunteer-history tbody tr:nth-child(even) {
  background-color: #ffffff;
} */
